  
@import url(http://fonts.googleapis.com/css?family=Crete+Round);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);

* {
  box-sizing: border-box;
}

.here{
	color: rgb(255,255,255);
}
html {
	background-color: black;
}
h1, h2, h3, h4 {
  font-family: 'Crete Round';
}




.logo {
  display: inline-block;
  font-family: 'Rock Salt';
  font-size: 16px;
  line-height: 16px;
  color: rgb(255,255,255);
}


section {
  padding-left: 30px;
  padding-bottom: 8px;
}

/* Nav styles */

nav > ul > li {
  display: inline-block;
  padding: 20px;
}

nav > ul > li:hover {
  background-color: rgb(180, 31, 66);
}

nav > ul > li > a {
  font-family: 'Crete Round';
  color: rgb(255,255,255);
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: rgb(255,255,255);
}
p{
  width: 600px;
  height: 400px;
  text-align: justify;
}


.hometext{
background-image: url("spaceX.jpg.png");
	width: 1000px;
   height: 680px;
}

 .spaceX{
  color: rgb(255,255,255);
  width: 100%;
  height: 200px;
  padding: 20px;
font-family: 'serif';
position: relative;
text-align: center;
}

b {
  display: inline-block;
  width: auto;
  color: rgb(255,255,255);
  padding: 5px 15px;
  margin-left: -30px;
}


.othertext{
  color: rgb(255,255,255);
  padding: 10px;
  padding-left: 200px;
  padding-right: 200px;
}

.othertext2, .othertext3{
  color: rgb(255,255,255);
  padding-left: 200px;
  padding-right: 80px;
  font-family: 'Crete Round';
}

.planets{
  background-image: url("sun.png");
    width: 1500spx;
     height: 680px;
  }
  
   .p{
    color: rgb(255,255,255);
    width: 100%;
    height: 200px;
    padding: 20px;
  font-family: 'serif';
  position: relative;
  text-align: center;
  }

/* Footer styles */
a {
  color: rgb(255,255,255);
  text-decoration: none;
}

footer {
  background-color: black;
  color: rgb(255,255,255);
  text-align: center;

}

footer > section {
  display: inline-block;
  vertical-align: top;
  width: 500px;
}

.social {
  font-size: 10px;
}

h3 > h2 > h1{
	color: rgb(255,255,255);
}















